<div class="panel">
  <h3>TODOs List</h3>
  <ol class="todo-list">
    <li *ngFor="let item of todos" >
      <div class="todo-item">
        <strong class="title">
          {{item.title}}
        </strong>
        <div class="desc">{{item.description}}</div>
        <button (click)="edit(item)">Edit</button>
        <button (click)="remove(item)">Remove</button>
        <edit-todo *ngIf="item.isFinished"
                   [item]="item"
                   (onUpdate)="update($event)"
                   (onCancel)="cancel(item)">
        </edit-todo>
      </div>
    </li>
  </ol>
  <div>
    <div>
      Title: <input [(ngModel)]="newTitle">
    </div>
    <div>
      Description: <input [(ngModel)]="newDescription">
    </div>
    <button (click)="add()">Add</button>
  </div>
</div>
