<h2>Angular2 Basics</h2>

<!--<div class="panel">-->
  <!--<label>Bob name: {{ bob.name }}</label>-->
  <!--<hr/>-->
  <!--<text-field-with-delay [(myValue)]="bob.name"></text-field-with-delay>-->
<!--</div>-->

<!--<div class="panel">-->
  <!--<parent></parent>-->
<!--</div>-->

<!--<div class="panel">-->
  <!--<property-binding-example></property-binding-example>-->
<!--</div>-->

<!--<div class="panel">-->
  <!--<two-way-binding-example></two-way-binding-example>-->
<!--</div>-->

<!--<div class="panel">-->
  <!--<todos-list></todos-list>-->
<!--</div>-->

<!--<div class="panel">-->
  <!--<hello-world></hello-world>-->
<!--</div>-->

<!--<div class="panel">-->
  <!--<personal-data></personal-data>-->
<!--</div>-->
